<div class="about-container container">
    <div class="row">
        <div class="col-lg-3">
            <ul class="nav-list">
                <%- about_categories("partner") %>
            </ul>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 about-content">
            <h3><a id="about">合作伙伴</a></h3>
            <p>
                合作伙伴
            </p>
        </div>
    </div>
</div>