
<div class="footer main-bg hidden-sm-down">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <img class="logo" src="../images/logo-white.png" width="165">
                <p>simple is beautiful<br/>full feature web framework for nodejs</p>
                <p><img src="../images/location.svg" height="22"> 国际电子城总部<br/>
                    <img src="../images/global.svg" height="22"> http://www.qcoreteam.com
                </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 footer-list">
                <h3>Product</h3>
                <ul class="color-gray">
                    <li>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13px" height="13px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                            <g>
                                <polygon points="40.586,12.934 37.023,16.496 50.009,29.481 4.35,29.481 4.35,34.52 50.009,34.52 37.023,47.504 40.586,51.066 59.65,32.001" fill="#ffffff"/>
                            </g>
                        </svg>
                        <a href="#">快输入们</a>
                    </li>
                    <li>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13px" height="13px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                            <g>
                                <polygon points="40.586,12.934 37.023,16.496 50.009,29.481 4.35,29.481 4.35,34.52 50.009,34.52 37.023,47.504 40.586,51.066 59.65,32.001" fill="#ffffff"/>
                            </g>
                        </svg>
                        <a href="#">快输入们</a>
                    </li>
                    <li>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13px" height="13px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                            <g>
                                <polygon points="40.586,12.934 37.023,16.496 50.009,29.481 4.35,29.481 4.35,34.52 50.009,34.52 37.023,47.504 40.586,51.066 59.65,32.001" fill="#ffffff"/>
                            </g>
                        </svg>
                        <a href="#">快输入们</a>
                    </li>
                    <li>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13px" height="13px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                            <g>
                                <polygon points="40.586,12.934 37.023,16.496 50.009,29.481 4.35,29.481 4.35,34.52 50.009,34.52 37.023,47.504 40.586,51.066 59.65,32.001" fill="#ffffff"/>
                            </g>
                        </svg>
                        <a href="#">快输入们</a>
                    </li>
                    <li>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="13px" height="13px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                            <g>
                                <polygon points="40.586,12.934 37.023,16.496 50.009,29.481 4.35,29.481 4.35,34.52 50.009,34.52 37.023,47.504 40.586,51.066 59.65,32.001" fill="#ffffff"/>
                            </g>
                        </svg>
                        <a href="#">快输入们</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-bg copyright">
    <img class="hidden-md-up" src="../images/logo.png">
    <p>Copyright ©2017 QCoreTeam. All Rights Reserved.</p>
</div>
<%- load_scripts_for_layout() %>
<% if ((page.layout=='post'||page.layout=='doc')&&theme.duoshuo.enable && page.comments){ %>
<script type="text/javascript">
    var duoshuoQuery = {short_name:"<%= theme.duoshuo.short_name %>"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<% } %>