<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>A distribution of GNU/Emacs editor</title>
    <%- css('css/bootstrap.min.css') %>
    <%- css('css/common.css') %>
    <%- load_css_for_current_layout() %>
    <link rel="icon" href="/qingeditor.ico" type="image/png"/>

</head>